<launch>
  <node name="auth_node" pkg="rosauth" type="ros_mac_authentication">
    <param name="secret_file_location" value="/etc/rosauth/secret" />
  </node>
  
  <!-- rosbridge for websocket visualization -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="authenticate" value="true"/>
  </include>
  
  <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"/>
  
  <include file="$(find rosprolog)/launch/rosprolog.launch">
    <arg name="initial_package" value="knowrob_memory"/>
    <arg name="initial_goal" value="register_ros_package(knowrob_vis)"/>
  </include>
  
  <include file="$(find knowrob_objects)/launch/object_state_publisher.launch" />
</launch>
