<launch>
  <node name="auth_node" pkg="rosauth" type="ros_mac_authentication">
    <param name="secret_file_location" value="/etc/rosauth/secret" />
  </node>
  
  <!-- rosbridge for websocket visualization -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="authenticate" value="true"/>
  </include>
  
  <include file="$(find rosprolog)/launch/rosprolog.launch" />
</launch>
